.marketing-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.marketing-hero h1 {
  font-size: 42px;
  line-height: 1.2;
}

.marketing-hero p {
  margin-top: 20px;
  max-width: 500px;
  font-size: 16px;
}

.hero-image {
  width: 450px;
  border: 3px solid #f3d45a;
  border-radius: 12px;
}
.marketing-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hero-left {
  max-width: 500px;
}

.hero-left h1 {
  font-size: 42px;
  line-height: 1.2;
}

.hero-left p {
  margin-top: 20px;
  font-size: 16px;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.btn-primary {
  background-color: #f3d45a;
  color: #000;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn-secondary {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 24px;
  border-radius: 6px;
}

.hero-right img {
  width: 450px;
  border: 3px solid #f3d45a;
  border-radius: 12px;
}

.preview-section {
  margin-top: 80px;
}
