/* ---------- Navbar ---------- */

.navbar {
  background: #ffffff;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Left & Right Sections */
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #111;
  text-decoration: none;
}

/* Links */
.navbar a {
  color: #111;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.navbar a:hover {
  opacity: 0.7;
}

/* Neon Sign Up */
.signup-btn {
  padding: 8px 16px;
  border-radius: 6px;
  background: #c6ff00;
  color: #000;
  font-weight: 600;
}
