/* NAVBAR CONTAINER */
.navbar {
  background: #ffffff;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

/* LEFT SIDE */
.nav-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* LOGO */
.logo {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
  color: #111;
  text-decoration: none;
}

/* CENTER LINKS */
.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.6;
}

/* RIGHT SIDE */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-right a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

/* SIGN UP BUTTON */
.signup-btn {
  background: #c6ff00;
  padding: 8px 16px;
  border-radius: 6px;
  color: black !important;
  font-weight: 600;
}

/* SIGN OUT BUTTON */
.signout-btn {
  background: transparent;
  border: 1px solid #111;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
}
