.navbar {
  background: white;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-right {
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
